__დავალება 1.__

მოცემულია დღის განმავლობაში ნაყურები ვიდეოფილმების ნახვის მთელი რიცხვების სია:

`v = [1205, 1101, 1434, 1320, 923, 874]`

დაბეჭდეთ პირველი სამი მნიშვნელობა (გამოიყენეთ ჭრა).

```python
Sample Input:


Sample Output:
[1205, 1101, 1434]
```

In [ ]:
# კოდი ჩაწერე აქ

__დავალება 2.__

მოცემულია დღის განმავლობაში ნაყურები ვიდეოფილმების ნახვის მთელი რიცხვების სია:

`v = [1205, 1101, 1434, 1320, 923, 874]`

დაბეჭდეთ ბოლო ოთხი მნიშვნელობა (გამოიყენეთ ჭრა).

```python
Sample Input:


Sample Output:
[1434, 1320, 923, 874]
```

In [ ]:
# კოდი ჩაწერე აქ

__დავალება 3.__

მოცემულია ქალაქების სახელწოდებების სია:

`c = ["Tbilisi", "New Yourk", "Tokyo", "Rome", "Paris", "London", "Moscow", "Madrid"]`

ჭრების საშუალებით დაბეჭდეთ ყოველი მეორე თავიდან ბოლომდე.

```python
Sample Input:


Sample Output:
['Tbilisi', 'Tokyo', 'Paris', 'Moscow']
```

In [ ]:
# კოდი ჩაწერე აქ

__დავალება 4.__

მოცემულია ქალაქების სახელწოდებების სია:

`c = ["Tbilisi", "New Yourk", "Tokyo", "Rome", "Paris", "London", "Moscow", "Madrid"]`

ჭრების საშუალებით დაბეჭდეთ ყოველი მეორე დაწყებული მეორე ელემენტიდან.

```python
Sample Input:


Sample Output:
['New Yourk', 'Rome', 'London', 'Madrid']
```

In [ ]:
# კოდი ჩაწერე აქ

__დავალება 5.__

მოცემულია მოსწავლის შეფასებების სია:

`m = [4, 6, 10, 10, 4, 4, 6, 6, 8, 10, 8, 8]`

ჭრების საშუალებით დაბეჭდეთ ელემენტები მე-3-დან მე-7-ის ჩათვლით უკუმიმართულებით.

```python
Sample Input:


Sample Output:
[6, 4, 4, 10, 10]
```

In [ ]:
# კოდი ჩაწერე აქ

__დავალება 6.__

მოცემულია მოსწავლის შეფასებების სია:

`m = [4, 6, 10, 10, 4, 4, 6, 6, 8, 10, 8, 8]`

ჭრების საშუალებით დაბეჭდეთ ყოველი მეორე ელემენტები უკუმიმართულებით.

```python
Sample Input:


Sample Output:
[8, 10, 6, 4, 10, 6]
```

__დავალება 7.__

რა დაიბეჭდება?

`[1, 2, 3] > [1, 1, 10]`

* `True`
* `False`

In [1]:
# პასუხი ჩაწერე აქ

__დავალება 8.__

რა დაიბეჭდება?

`[1, 2, 3] < [1, 2, 3, 4]`

* `True`
* `False`

In [1]:
# პასუხი ჩაწერე აქ

__დავალება 9.__

რა დაიბეჭდება?

`[1, 2, 3] >= [1, 2, 3]`

* `False`
* `True`

In [1]:
# პასუხი ჩაწერე აქ

__დავალება 10.__

რა დაიბეჭდება?

`[1, 2, 3, "4"] > [1, 2, 3, "5"]`

* `True`
* აღიძვრება შეცდომა `TypeError`
* `False`

In [1]:
# პასუხი ჩაწერე აქ

__დავალება 11.__

რა დაიბეჭდება?

`[1, 2, 3, 7] > [1, 2, 3, "5"]`

* `True`
* აღიძვრება შეცდომა `TypeError`
* `False`

In [1]:
# პასუხი ჩაწერე აქ