როგორ ავიღო ნიკას შედეგი?

In [7]:
students = {
  "students": [
    {"id": 1, "name": "Paata", "age": 24},
    {"id": 2, "name": "Nika", "age": 20},
    {"id": 3, "name": "Lasha", "age": 21},
  ],
  "grades": [
    {"Paata": "B"},
    {"Nika": "A"},
    {"Lasha": "C"},
  ]
}

nika_grade = students["grades"]
print(nika_grade)

nika_grade = students["grades"][1]
print(nika_grade)

nika_grade = students["grades"][1]['Nika']
print(nika_grade)

[{'Paata': 'B'}, {'Nika': 'A'}, {'Lasha': 'C'}]
{'Nika': 'A'}
A

---

ახლა დავბეჭდოთ ასეთი ფორმატით:

`Student_id: 3, Name: Lasha, Grade" C`

In [21]:
students = {
  "students": [
    {"id": 1, "name": "Paata", "age": 24},
    {"id": 2, "name": "Nika", "age": 20},
    {"id": 3, "name": "Lasha", "age": 21},
  ],
  "grades": [
    {"Paata": "B"},
    {"Nika": "A"},
    {"Lasha": "C"},
  ]
}

st_id = students["students"][2]['id']
st_name = students["students"][st_id - 1]['name']
st_grade = students["grades"][st_id - 1][st_name]

print(f"Student_id: {st_id}, Name: {st_name}, Grade: {st_grade}")

Student_id: 3, Name: Lasha, Grade: C

---

დავბეჭდოთ ყველა სტუდენტის მონაცემი

```py
ID: 1, Name: Paata, Grade B
ID: 2, Name: Nika, Grade A
ID: 3, Name: Lasha, Grade C
```

In [72]:
# I ვარიანტი

students = {
  "students": [
    {"id": 1, "name": "Paata", "age": 24},
    {"id": 2, "name": "Nika", "age": 20},
    {"id": 3, "name": "Lasha", "age": 21},
  ],
  "grades": [
    {"Paata": "B"},
    {"Nika": "A"},
    {"Lasha": "C"},
  ]
}

for student in students["students"]:
  st_id = student['id']
  st_name = student['name']

  for grade in students["grades"]:
    if st_name in grade:
      st_grade = grade[st_name]

  print(f"ID: {st_id}, Name: {st_name}, Grade: {st_grade}")

ID: 1, Name: Paata, Grade: B
ID: 2, Name: Nika, Grade: A
ID: 3, Name: Lasha, Grade: C

In [50]:
# II ვარიანტი

students = {
  "students": [
    {"id": 1, "name": "Paata", "age": 24},
    {"id": 2, "name": "Nika", "age": 20},
    {"id": 3, "name": "Lasha", "age": 21},
  ],
  "grades": [
    {"Paata": "B"},
    {"Nika": "A"},
    {"Lasha": "C"},
  ]
}

for student in students["students"]:
  st_id = student['id']
  st_name = student['name']
  st_grade = students["grades"][st_id - 1][st_name]

  print(f"ID: {st_id}, Name: {st_name}, Grade: {st_grade}")

ID: 1, Name: Paata, Grade: B
ID: 2, Name: Nika, Grade: A
ID: 3, Name: Lasha, Grade: C

---

დავბეჭდოთ ყველა სტუდენტის მონაცემები სხვადასხვა `id`-ებით

In [ ]:
students = {
  "students": [
    {"id": 20, "name": "Paata", "age": 24},
    {"id": 100, "name": "Nika", "age": 20},
    {"id": 1232, "name": "Lasha", "age": 21},
  ],
  "grades": [
    {"Paata": "B"},
    {"Nika": "A"},
    {"Lasha": "C"},
    {"Archil": "C"},
    {"Alexandre": "C"},
  ]
}

for student in students["students"]:
  st_id = student['id']
  st_name = student['name']
  st_grade = students["grades"][st_id - 1][st_name]   # IndexError: list index out of range

  print(f"ID: {st_id}, Name: {st_name}, Grade: {st_grade}")

`grades` სიაში `st_id` არ ემთხვევა სიის ინდექსებს `0..1..2..`   `20, 100, 1232`

ჩავწეროთ: st_grade = '' და გავუშვათ პროგრამა...

In [52]:
students = {
  "students": [
    {"id": 20, "name": "Paata", "age": 24},
    {"id": 100, "name": "Nika", "age": 20},
    {"id": 1232, "name": "Lasha", "age": 21},
  ],
  "grades": [
    {"Paata": "B"},
    {"Nika": "A"},
    {"Lasha": "C"},
    {"Archil": "C"},
    {"Alexandre": "C"},
  ]
}

for student in students["students"]:
  st_id = student['id']
  st_name = student['name']
  st_grade = ''

  print(f"ID: {st_id}, Name: {st_name}, Grade: {st_grade}")

ID: 20, Name: Paata, Grade:
ID: 100, Name: Nika, Grade:
ID: 1232, Name: Lasha, Grade:

In [74]:
students = {
  "students": [
    {"id": 20, "name": "Paata", "age": 24},
    {"id": 100, "name": "Nika", "age": 20},
    {"id": 1232, "name": "Lasha", "age": 21},
  ],
  "grades": [
    {"Paata": "B"},
    {"Nika": "A"},
    {"Lasha": "C"},
    {"Archil": "C"},
    {"Alexandre": "C"},
  ]
}

for student in students["students"]:
  st_id = student['id']
  st_name = student['name']
  st_grade = ''

  for grade in students["grades"]:
    print(grade)

  # print(f"ID: {st_id}, Name: {st_name}, Grade: {st_grade}")

{'Paata': 'B'}
{'Nika': 'A'}
{'Lasha': 'C'}
{'Archil': 'C'}
{'Alexandre': 'C'}
{'Paata': 'B'}
{'Nika': 'A'}
{'Lasha': 'C'}
{'Archil': 'C'}
{'Alexandre': 'C'}
{'Paata': 'B'}
{'Nika': 'A'}
{'Lasha': 'C'}
{'Archil': 'C'}
{'Alexandre': 'C'}

In [68]:
students = {
  "students": [
    {"id": 20, "name": "Paata", "age": 24},
    {"id": 100, "name": "Nika", "age": 20},
    {"id": 1232, "name": "Lasha", "age": 21},
  ],
  "grades": [
    {"Paata": "B"},
    {"Nika": "A"},
    {"Lasha": "C"},
    {"Archil": "C"},
    {"Alexandre": "C"},
  ]
}

for student in students["students"]:
  st_id = student['id']
  st_name = student['name']

  for grade in students["grades"]:
    if st_name in grade:
      # print(st_name)
      
      st_grade = grade[st_name]

  print(f"ID: {st_id}, Name: {st_name}, Grade: {st_grade}")

ID: 20, Name: Paata, Grade: B
ID: 100, Name: Nika, Grade: A
ID: 1232, Name: Lasha, Grade: C

---

ახლა, ასეთი ვარიანტი განვიხილოთ: `grades`-ებიდან ამოვიღოთ არჩილის შეფასების სტრიქონი, ხოლო `students`-ში არჩილის მონაცემები ჩავამატოთ. ციკლში კი – `st_grade = "Grade not available"` და დავბეჭდოთ მონაცემები.

In [77]:
students = {
  "students": [
    {"id": 20, "name": "Paata", "age": 24},
    {"id": 100, "name": "Nika", "age": 20},
    {"id": 1232, "name": "Lasha", "age": 21},
    {"id": 8564, "name": "Archil", "age": 32},
  ],
  "grades": [
    {"Paata": "B"},
    {"Nika": "A"},
    {"lasha": "C"},
    {"Alexandre": "C"},
  ]
}

for student in students["students"]:
  st_id = student['id']
  st_name = student['name']
  st_grade = 'Grade Not available'

  for grade in students["grades"]:
    if st_name in grade:
      st_grade = grade[st_name]

  print(f"ID: {st_id}, Name: {st_name}, Grade: {st_grade}")

ID: 20, Name: Paata, Grade: B
ID: 100, Name: Nika, Grade: A
ID: 1232, Name: Lasha, Grade: Grade Not available
ID: 8564, Name: Archil, Grade: Grade Not available

---

მონაცემებში შესაძლებელია სახელების დამთხვევა. თუ გვექნება ერთნაირ სახელიანი სტუდენტები, მაშინ მათი შეფასებებიც უნდა შევიტანოთ `grades`-ებში.

In [83]:
students = {
  "students": [
    {"id": 20, "name": "Paata", "age": 24},
    {"id": 25, "name": "Paata", "age": 21},
    {"id": 31, "name": "Nika", "age": 22},
    {"id": 100, "name": "Nika", "age": 20},
    {"id": 1232, "name": "Lasha", "age": 21},
    {"id": 8564, "name": "Archil", "age": 32},
  ],
  "grades": [
    {"Paata": "B"},
    {"Paata": "A"},
    {"Nika": "A"},
    {"Nika": "B"},
    {"Lasha": "C"},
    {"Archil": "A"},
  ]
}

for student in students["students"]:
  st_id = student['id']
  st_name = student['name']
  st_grade = 'Grade Not available'

  for grade in students["grades"]:
    if st_name in grade:
      st_grade = grade[st_name]

  print(f"ID: {st_id}, Name: {st_name}, Grade: {st_grade}")

ID: 20, Name: Paata, Grade: A
ID: 25, Name: Paata, Grade: A
ID: 31, Name: Nika, Grade: B
ID: 100, Name: Nika, Grade: B
ID: 1232, Name: Lasha, Grade: C
ID: 8564, Name: Archil, Grade: A

---

როგორც ხედავთ ორივე პაატას და ნიკას `grade`-ები ერთნაირია, შესაბამისად – `A` და `B`. ჩაწერა შეფასების ბოლო მონაცემები.

ჩვენ სტუდენტები (`students`) და მათი შეფასებები (`grades`) ერთმანეთთან სახელებითაა დაკავშირებული. ამიტომაც შემოწმებისას (მეორე ციკლი) ვამოწმებთ სახელებს (სტუდენტის სახელი თუ არის შეფასების ლექსიკონში). დადებითი პასუხის შემთხვევაში შეფასებების ლექსიკონიდან შეფასების ბოლო მნიშვნლობა ენიჭება ცვლად `st_grade`-ს. ეს რომ გამოვასწოროთ, საჭიროა სტიდენტების შესაბამისი `ID`-იბიც ჩავწეროთ `grades`-ში.

In [86]:
students = {
  "students": [
    {"id": 20, "name": "Paata", "age": 24},
    {"id": 25, "name": "Paata", "age": 21},
    {"id": 31, "name": "Nika", "age": 22},
    {"id": 100, "name": "Nika", "age": 20},
    {"id": 1232, "name": "Lasha", "age": 21},
    {"id": 8564, "name": "Archil", "age": 32},
  ],
  "grades": [
    {"id":20, "Paata": "B"},
    {"id":25, "Paata": "A"},
    {"id":31, "Nika": "A"},
    {"id":100, "Nika": "B"},
    {"id":1232, "Lasha": "C"},
    {"id":8564, "Archil": "A"},
  ]
}

for student in students["students"]:
  st_id = student['id']
  st_name = student['name']
  st_grade = 'Grade Not available'

  for grade in students["grades"]:
    if st_id == grade['id']:
      st_grade = grade[st_name]

  print(f"ID: {st_id}, Name: {st_name}, Grade: {st_grade}")

ID: 20, Name: Paata, Grade: B
ID: 25, Name: Paata, Grade: A
ID: 31, Name: Nika, Grade: A
ID: 100, Name: Nika, Grade: B
ID: 1232, Name: Lasha, Grade: C
ID: 8564, Name: Archil, Grade: A