__დავალება 1.__

სხვადასხვა ხაზზე შეიტანეთ სახელი, გვარი და ასაკი. `f`-სტრიქონის მეშვეობით დაბეჭდეთ "Dear `<first name> <last name>` Congratulations on your <age>th birthday!" ბრჭყალების გარეშე

```python
Sample Input:
Paata
Mamporia
51

Sample Output:
Dear Paata Mamporia! Congratulations on your 35th birthday!
```

In [ ]:
# კოდი ჩაწერე აქ

__დავალება 2.__

ერთ ხაზზე, ინტერვალით შეიტანეთ ნაკეთობის ზომები (მთელი რიცხვი): სიგანე, სიღრმე, სიმაღლე. დაბეჭდეთ: "Dimensions: <width> x <dept> x <height>"

```python
Sample Input:
8 11 13

Sample Output:
Dimensions: 8 x 11 x 13
```

In [ ]:
# კოდი ჩაწერე აქ

__დავალება 3.__

ერთ ხაზზე შეიტანეთ ორი მთელი რიცხვი. შეტანილი რიცხვები დაბეჭდეთ ზრდადობის მიხედვით.

```python
Sample Input:
18 11

Sample Output:
11 18
```

In [ ]:
# კოდი ჩაწერე აქ

__დავალება 4.__

კლავიატურიდან შეიტანეთ მისამართი (ყოველი მონაცემი ახალი ხაზიდან) ფორმატით: ქალაქი, ქუჩა, სახლის ნომერი (მთელი რიცხვი), ბინის ნომერი (მთელი რიცხვი). დაბეჭდეთ შემდეგი სახით: `<city> city, <avenu> ave, 9, apt. <apt>` 

```python
Sample Input:
Tbilisi
Rustaveli
9
1

Sample Output:
Tbilisi city, Rustaveli ave, 9, apt. 1
```

In [ ]:
# კოდი ჩაწერე აქ

__დავალება 5.__

კლავიატურიდან შეიტანეთ დოლარის კურსი (ათწილადი) და ლარის რაოდენობა (მთელი). დაბეჭდეთ: `You can get $384 for 1000 laris at the rate of 2.6` 

```python
Sample Input:
2.6
1000

Sample Output:
You can get $384 for 1000 laris at the rate of 2.6
```

In [6]:
# კოდი ჩაწერე აქ