#### დავალება 1.

შეუთავსეთ სიის მეთოდები მათ აღწერილობებს.

`append` – ასუფთავებს სიას (შლის ყველა ელემენტს)

`insert` – შლის ბოლო ელემენტს, ან ელემენტს მითითებული ინდექსით, პოზიციით

`remove` – ამატებს ელემენტს სიის ბოლოში

`pop` – ჩასვამს ელემენტს სიის მითითებულ ადილას

`clear` – შლის ელემენტს მნიშვნელობის მიხედვით

In [ ]:
# პასუხები ჩაწერე აქ

#### დავალება 2.

ერთ ხაზზე შეიტანეთ მთელი რიცხვები. თუ პირველი და ბოლო რიცხვები ტოლია, სიის ბოლოში დაამატეთ `True`, წინააღმდეგ შემთხვევაში – `False`. შედეგი დაბეჭდეთ ეკრანზე. `print(*lst)`

```python
Sample Input:
8 12 2 -10 6

Sample Output:
8 12 2 -10 6 True
```

In [ ]:
# კოდი ჩაწერე აქ

#### დავალება 3

გვაქვს ქალაქების სახელწოდებების სია.

`cities = ["Tbilisi", "Madrid", "Lisbon"]`

სიის მეორე პოზიციაზე ჩასვით "Buenos-Aires" და სია დაბეჭდეთ ეკრანზე. `print(*cities)`

```python
Sample Input:


Sample Output:
Tbilisi Buenos-Aires Madrid Lisbon
```

In [ ]:
# კოდი ჩაწერე აქ

#### დავალება 4

შეიტანეთ ტელეფონის ნომერი სტრიქონულად შემდეგი ფორმატით: `995(xxx)xx-xx-xx`. სტრიქონი გარდაქმნეით სიად (ყველა სიმბოლო ცალ-ცალკე, უნდა მივიღოთ სიმბოლოების სია). შემდეგ წაშალეთ პირველი სიმბოლო `+`. `995` შეცვლაეთ `195`. წაშალეთ დეფისები. დაბეჭდეთ ინფორმაცია `''.join(lst)` მეშვეობით.

```python
Sample Input:
+995(558)02-13-35

Sample Output:
195(558)021335
```

In [25]:
# კოდი ჩაწერე აქ

#### დავალება 5

შეიტანეთ ტელეფონის ნომერი სტრიქონულად შემდეგი ფორმატით: `995(xxx)xx-xx-xx`. სტრიქონი გარდაქმნეით სიად (ყველა სიმბოლო ცალ-ცალკე, უნდა მივიღოთ სიმბოლოების სია). შემდეგ წაშალეთ პირველი სიმბოლო `+`. `995` შეცვლაეთ `195`. წაშალეთ დეფისები. დაბეჭდეთ ინფორმაცია `''.join(lst)` მეშვეობით.

```python
Sample Input:
Erich Paul Remark

Sample Output:
Remark E.P.
```

In [27]:
# კოდი ჩაწერე აქ

#### დავალება 6

შეუთავსეთ სიის მეთოდები მათ აღწერილობებს.

`copy` – ასორტირებს სიის ელემენტებს

`count` – აბრუნებს სიაში ნაპოვნი პირველი ელემენტის ინდექსს 

`index` – ცვლის სიის ელემენტების განლაგებას რევერსულად

`reverse` – აბრუნებს სიაში არსებული ელემნების რაოდენობას

`sort` – აბრუნებს კოპირებულ სიას

In [27]:
# პასუხი ჩაწერე აქ

#### დავალება 7

მთელი რიცხვები შეიტანება ერთ სტრიქონში, რომელიც გამოყოფილია ინტერვალით (მინიმუმ ოთხი რიცხვი). დაბეჭდეთ სამი უმცირესი რიცხვი ზრდადობის მიხედვით დალაგებული.

```python
Sample Input:
8 11 -5 10 -1 0 7

Sample Output:
-5 -1 0
```

In [55]:
# კოდი ჩაწერე აქ

#### დავალება 8

მთელი რიცხვები შეიტანება ერთ სტრიქონში, რომელიც გამოყოფილია ინტერვალით. გარდაქმენით სიად. თუ სიის ბოლო ელემენტი კენტია შეცვალეთ იგი `True`-თი, წინააღმდეგ შემთხვევაში – `False`. დაბეჭდეთ შედეგი. `peint(*lst)`

```python
Sample Input:
8 11 0 3 5 6

Sample Output:
8 11 0 3 5 False
```

In [57]:
# კოდი ჩაწერე აქ

#### დავალება 9

მოსწავლეების ქულები (6-დან 10-ის ჩათვლით) შეიტანება ერთ სტრიქონში, რომელიც გამოყოფილია ინტერვალით. დაბეჭდეთ `4`-ანების რაოდენობა.

```python
Sample Input:
4 6 10 4 8 4 4 10

Sample Output:
4
```

In [59]:
# კოდი ჩაწერე აქ

#### დავალება 10

მდინარეების სახელწოდებები შეიტანება ერთ სტრიქონში, რომელიც გამოყოფილია ინტერვალით. დაალაგეთ ზრდადობის მიხედვით. წაშალეთ პირველი ელემნტი. შედეგი ეკრანზე დაბეჭდეთ.

```python
Sample Input:
Mtkvari Rioni Enguri Supsa Psou Iori Alazani Tortla

Sample Output:
Enguri Iori Mtkvari Psou Rioni Supsa Tortla
```

In [66]:
# კოდი ჩაწერე აქ